**/a.out
app/app
app/ransomware_detector
app/websocket_server_app
app/build/*
**/*.o

encryption_zone/files2encrypt
encryption_zone/crypt
app/test_files
app/log.txt
settings.json
c_cpp_properties.json
.vscode/